@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #dc3545;
}
body {
    font-family: var(--sm-font);
}

.nav-link:hover {
    color:#D72323 !important;

}
.nav-item{
    padding-left: 30px;
}

.btn:not(.nav-btns button):hover{
    background: #873232;
    color: rgb(255, 255, 255);
    border: #D72323;
}
a:link {
    text-decoration: none;
  }

.image-icon{
    height: 70px;
}
.img-banner {
    height: 700px;
    width: 800px;
}